{% extends "resetpassword/password_reset_base.html" %}

{% block page_title %}Đặt lại mật khẩu thành công - EDS{% endblock %}
{% block headline %}Hoàn tất!{% endblock %}
{% block subtitle %}
Mật khẩu của bạn đã được cập nhật. Bạn có thể đăng nhập bằng thông tin mới vừa thiết lập.
{% endblock %}
{% block content %}
  <a href="{% url 'accounts:login' %}" class="btn btn-primary btn-block btn-lg mt-3">
    Đăng nhập ngay
  </a>
{% endblock %}
{% block footer_link %}
  <a href="{% url 'accounts:login' %}" class="font-bold">Quay lại trang đăng nhập</a>
{% endblock %}
