{% extends "resetpassword/password_reset_base.html" %}
{% load widget_tweaks %}

{% block page_title %}Đặt lại mật khẩu - EDS{% endblock %}
{% block headline %}Tạo mật khẩu mới{% endblock %}
{% block subtitle %}
Vui lòng nhập mật khẩu mới cho tài khoản của bạn.
{% endblock %}
{% block content %}
  {% if validlink %}
    <form method="post" action="{{ request.path }}">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-group position-relative has-icon-left mb-4">
        {{ form.new_password1.errors.as_ul }}
        {{ form.new_password1|add_class:"form-control form-control-xl" }}
        <div class="form-control-icon">
          <i class="bi bi-shield-lock"></i>
        </div>
        {% if form.new_password1.help_text %}
        <small class="text-muted">{{ form.new_password1.help_text|safe }}</small>
        {% endif %}
      </div>
      <div class="form-group position-relative has-icon-left mb-4">
        {{ form.new_password2.errors.as_ul }}
        {{ form.new_password2|add_class:"form-control form-control-xl" }}
        <div class="form-control-icon">
          <i class="bi bi-shield-lock"></i>
        </div>
        {% if form.new_password2.help_text %}
        <small class="text-muted">{{ form.new_password2.help_text|safe }}</small>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-3">
        Cập nhật mật khẩu
      </button>
    </form>
  {% else %}
    <div class="alert alert-danger" role="alert">
      Liên kết đặt lại mật khẩu không hợp lệ hoặc đã hết hạn.
    </div>
    <a href="{% url 'accounts:password_reset' %}" class="btn btn-primary btn-block btn-lg mt-2">
      Gửi yêu cầu mới
    </a>
  {% endif %}
{% endblock %}
{% block footer_link %}
  <a href="{% url 'accounts:login' %}" class="font-bold">Quay lại trang đăng nhập</a>
{% endblock %}
