{% extends "base.html" %}
{% load static %}
{% block title %}Quản lý cơ sở{% endblock %}

{% block content %}
<div id="main">
  <header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
      <i class="bi bi-justify fs-3"></i>
    </a>
  </header>

  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
          <h3>Centers</h3>
          <p class="text-subtitle text-muted">Centers management</p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
          <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Centers</a></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>

    <section class="section">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Centers Table</h5>
        </div>
        <div class="card-body">
          <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
            
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
