{% load static %}
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} HOME {% endblock %}</title>
    <!-- CSRF cho HTMX -->
    <script>
      document.addEventListener('htmx:configRequest', e => {
        e.detail.headers['X-CSRFToken'] =
          (document.cookie.match(/(?:^|; )csrftoken=([^;]+)/) || [, ''])[1];
      });
    </script>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="{% static 'compiled/svg/favicon.svg' %}"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="{% static 'compiled/png/favicon.png' %}"
      type="image/png"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'compiled/css/app.css' %}" />
    <link rel="stylesheet" href="{% static 'compiled/css/app-dark.css' %}" />
    <link rel="stylesheet" href="{% static 'compiled/css/iconly.css' %}" />
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  </head>

  <body>
    <div id="toast-container" class="toast-container position-fixed bottom-0 end-0 p-3"></div>
    <div id="app">
      <div id="main" class="layout-horizontal">
        <header class="mb-5">
          <div class="header-top">
            <div class="container">
              <div class="logo">
                <a href="{% url 'common:home' %}"
                  ><img src="{% static 'compiled/svg/logo.svg' %}" alt="Logo"
                /></a>
              </div>
              <div class="header-top-right">
                {% if user.is_authenticated %}
                <!-- Nếu đã đăng nhập -->
                <div class="dropdown">
                  <a
                    href="#"
                    id="topbarUserDropdown"
                    class="user-dropdown d-flex align-items-center dropend dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <div class="avatar avatar-md2">
                      <img
                        src="{% static './compiled/jpg/1.jpg' %}"
                        alt="Avatar"
                      />
                    </div>
                    <div class="text">
                      <h6 class="user-dropdown-name">
                        {{ user.get_full_name|default:user.username }}
                      </h6>
                      <p class="user-dropdown-status text-sm text-muted">
                        Member
                      </p>
                    </div>
                  </a>
                  <ul
                    class="dropdown-menu dropdown-menu-end shadow-lg"
                    aria-labelledby="topbarUserDropdown"
                  >
                    <li><a class="dropdown-item" href="#">My Account</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <form 
                        hx-post="{% url 'accounts:logout' %}" 
                        hx-swap="none" 
                        class="m-0">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item">Đăng xuất</button>
                      </form>
                    </li>
                  </ul>
                </div>
                {% else %}
                <!-- Nếu chưa đăng nhập -->
                <a
                  href="{% url 'accounts:login' %}"
                  class="btn btn-primary rounded-pill"
                >
                  Đăng nhập
                </a>
                {% endif %}

                <!-- Burger button responsive -->
                <a href="#" class="burger-btn d-block d-xl-none">
                  <i class="bi bi-justify fs-3"></i>
                </a>
              </div>
            </div>
          </div>
          <nav class="main-navbar">
            <div class="container">
              <ul class="main-menu d-flex justify-content-evenly">
                <li class="menu-item">
                  <a href="#" class="menu-link">
                    <span><i class="bi bi-grid-fill"></i>TRANG CHỦ</span>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="#" class="menu-link">
                    <span><i class="bi bi-grid-fill"></i>GIỚI THIỆU</span>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="#" class="menu-link">
                    <span><i class="bi bi-grid-fill"></i>LIÊN HỆ</span>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </header>
        <div class="page-heading d-flex justify-content-evenly">
          <div class="d-flex flex-column align-items-center">
            <h2>Chào mừng bạn đến với EDS</h2>
            <h4>Hãy cho mình biết bạn là ai nhé</h4>
          </div>
        </div>
        <div class="content-wrapper container">
          <div class="page-content">
            <section class="row">
              <div class="col-12">
                <div class="row d-flex justify-content-evenly">
                  <div class="col-6 col-lg-3 col-md-6">
                    <a
                      href="
                      {% if user.is_authenticated %}
                          
                      {% else %}
                          {% url 'accounts:login' %}
                      {% endif %}
                    "
                    >
                      <div class="card">
                        <div
                          class="card-body px-4 py-4-5 d-flex flex-column align-items-center"
                        >
                          <div class="stats-icon purple mb-3">
                            <i class="fa-solid fa-user-graduate"></i>
                          </div>
                          <h6 class="text-muted font-semibold">Học sinh</h6>
                        </div>
                      </div>
                    </a>
                  </div>

                  <!-- Phụ huynh -->
                  <div class="col-6 col-lg-3 col-md-6">
                    <a
                      href="
                      {% if user.is_authenticated %}
                          
                      {% else %}
                          {% url 'accounts:login' %}
                      {% endif %}
                    "
                    >
                      <div class="card">
                        <div
                          class="card-body px-4 py-4-5 d-flex flex-column align-items-center"
                        >
                          <div class="stats-icon blue mb-3">
                            <i class="fa-solid fa-user"></i>
                          </div>
                          <h6 class="text-muted font-semibold">Phụ huynh</h6>
                        </div>
                      </div>
                    </a>
                  </div>

                  <!-- Giáo viên -->
                  <div class="col-6 col-lg-3 col-md-6">
                    <a
                      href="
                      {% if user.is_authenticated %}
                          
                      {% else %}
                          {% url 'accounts:login' %}
                      {% endif %}
                    "
                    >
                      <div class="card">
                        <div
                          class="card-body px-4 py-4-5 d-flex flex-column align-items-center"
                        >
                          <div class="stats-icon green mb-3">
                            <i class="fa-solid fa-chalkboard-teacher"></i>
                          </div>
                          <h6 class="text-muted font-semibold">Giáo viên</h6>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>

    <!-- JS -->
    <script src="{% static 'static/js/components/dark.js' %}"></script>
    <script src="{% static 'extensions/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'compiled/js/app.js' %}"></script>

    <!-- Need: Apexcharts -->
    <script src="{% static 'extensions/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'static/js/pages/dashboard.js' %}"></script>
    {% block extra_js %} {% endblock %}
      <!-- HTMX + SweetAlert2 -->
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'static/js/pages/sweetalert2.js' %}"></script>
  </body>
</html>
